<header>
    <div class="card-header">
        <p>VEJA COMO FAZER UPLOAD DE MULTIPLOS ARQUIVOS</p>
        <a href="/form">Acessar Form</a>
    </div>

</header>

<div style="height: 800px; width: 100%;">

</div>
{{!-- <div id="handlebars-content">
    <h2>Lol heroes</h2>
    {{#if dogs}}
    <ul>
        {{#each lolHeroes}}
        <li>{{this.name}} - Lane: <strong>{{this.lane}}</strong></li>
        {{/each}}
    </ul>
    <h2>Dogs coming from API <a href="https://dog.ceo/" target="_blank">https://dog.ceo/</a></h2>
    {{/if}}

    {{#if dogs}}
    <ul>
        {{#each dogs}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{/if}}

    {{> lovedChamps}}
    {{> hatedChamps}}
</div> --}}