<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found WebPage</title>
</head>

<body>
    <h1 style="color: #e74c3c;">404 - NOT FOUND</h1>
    <h2>this page doesn't exist {{urlNotFound}}</h2>
</body>

</html>